<!DOCTYPE html>
<html>
  <head>
    <title>Collegesavior</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
<script>
  $(document).on("hidden.bs.collapse", ".collapse", function(){
    $("div.navbar").toggleClass("mynavbar");
  });
  $(document).on("show.bs.collapse", ".collapse", function(){
    $("div.navbar").toggleClass("mynavbar");
  });
  // $(document).ready(function(){
  //   $(".collapse").on("hidden.bs.collapse", function(){
  //     $("div.navbar").toggleClass("mynavbar");
  //   });
  //   $(".collapse").on("show.bs.collapse", function(){
  //     $("div.navbar").toggleClass("mynavbar");
  //   });
  // });
  $(document).ready(function(){
    $('#myCarousel').hover(
      function () {
        $('.carousel-control').removeClass('hide');
      }, 
      function () {
        $('.carousel-control').addClass('hide');
      }
    );
  })
</script>

